// bower:scss
// endbower

@import '_media';
@import '_type';
@import '_color';
@import '_boxes';

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.25); border-radius: 5px; }

*::selection{ color: $secondary-color; }
*::-moz-selection{ color: $secondary-color; }

body {
  background: $primary-color;
  // font-family: $primary-font, Helvetica, Arial, sans-serif;
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

a:hover,a:active,a:visited {
  color: $secondary-color;
}

.logo {
  padding-top: 10px;
  padding-left: -5px;
  padding-bottom: 10px;
  width: 100%;

      @include breakpoint(mobileonly){
        width: 80%;
      }
}

// Soundcloud box
.compactSound {
  padding: 0px !important;
}

.scu-player {
  width: 100%;

    @include breakpoint(desktop){
      min-width: 700px;
    }

    @include breakpoint(laptop){
      // width: 100%;
      min-width: 600px;
    }

    @include breakpoint(mobileonly){
      // width: 100%;
      min-width: 300px;
    }

    @include breakpoint(phablet){
      // width: 100%;
      min-width: 300px;
    }
}

.scu-player iframe{
  height: 160px;
}
